In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv("grades.csv")

In [3]:
df

,Student Number,Final Grade,Wgtd Ave,PA1,PA2,PA3,PA4,Reporting,Exam,Mini-Project
0,XXXX-01404,1.75,84.075,55,90,88,85,100,79.1,90
1,XXXX-04638,1.50,85.500,50,90,90,88,100,80.8,94
2,XXXX-06706,2.25,74.350,55,75,88,88,100,55.0,80
3,XXXX-07128,1.00,92.600,93,95,95,95,100,84.2,95
4,XXXX-09114,1.50,87.000,95,88,95,90,100,65.8,95
5,XXXX-10236,2.75,66.400,55,55,55,55,100,46.6,91
6,XXXX-10667,1.25,88.025,60,88,88,90,100,91.7,90
7,XXXX-12034,3.00,64.375,90,85,0,0,100,52.5,95
8,XXXX-19855,1.50,86.100,93,90,88,88,100,70.8,90
9,XXXX-20754,1.00,92.100,88,88,90,85,100,92.0,96
10,XXXX-20911,1.25,90.050,95,88,95,95,100,75.0,96
11,XXXX-21036,1.25,90.675,97,85,88,88,100,87.5,92
12,XXXX-21122,5.00,39.200,0,0,0,0,100,25.8,91
13,XXXX-21123,3.00,64.100,60,50,40,50,100,51.4,85
14,XXXX-21128,2.50,72.550,55,90,50,93,100,55.0,80
15,XXXX-21426,1.00,92.175,88,90,85,83,100,98.3,92
16,XXXX-22085,1.00,92.100,95,88,95,93,100,85.0,95
17,XXXX-23332,2.00,80.075,55,88,75,85,100,69.1,90
18,XXXX-26390,5.00,27.300,75,0,0,0,100,39.2,0
19,XXXX-28026,1.00,96.325,95,95,95,93,100,104.1,90
20,XXXX-32614,1.50,86.975,93,93,95,93,100,73.3,85
21,XXXX-36198,5.00,32.275,50,50,0,0,100,49.1,0
22,XXXX-46106,5.00,38.625,60,45,0,0,100,72.5,0
23,XXXX-52380,2.00,81.350,95,88,0,90,100,84.2,92
24,XXXX-60910,2.25,75.425,55,75,85,83,100,52.5,90
25,XXXX-62543,5.00,37.750,50,88,0,0,100,55.8,0
26,XXXX-67839,5.00,28.550,0,0,0,0,100,74.2,0
27,XXXX-74467,1.00,92.225,93,93,90,90,100,87.5,95
28,XXXX-78356,2.50,70.300,50,70,0,88,100,65.0,93
29,XXXX-90339,5.00,58.450,40,20,10,10,100,70.8,91
30,XXXX-98340,5.00,53.425,95,93,0,88,100,63.3,0

In [8]:
df.sort_values(by=['Wgtd Ave'], ascending=False)

,Student Number,Final Grade,Wgtd Ave,PA1,PA2,PA3,PA4,Reporting,Exam,Mini-Project
19,XXXX-28026,1.00,96.325,95,95,95,93,100,104.1,90
3,XXXX-07128,1.00,92.600,93,95,95,95,100,84.2,95
27,XXXX-74467,1.00,92.225,93,93,90,90,100,87.5,95
15,XXXX-21426,1.00,92.175,88,90,85,83,100,98.3,92
9,XXXX-20754,1.00,92.100,88,88,90,85,100,92.0,96
16,XXXX-22085,1.00,92.100,95,88,95,93,100,85.0,95
11,XXXX-21036,1.25,90.675,97,85,88,88,100,87.5,92
10,XXXX-20911,1.25,90.050,95,88,95,95,100,75.0,96
6,XXXX-10667,1.25,88.025,60,88,88,90,100,91.7,90
4,XXXX-09114,1.50,87.000,95,88,95,90,100,65.8,95
20,XXXX-32614,1.50,86.975,93,93,95,93,100,73.3,85
8,XXXX-19855,1.50,86.100,93,90,88,88,100,70.8,90
1,XXXX-04638,1.50,85.500,50,90,90,88,100,80.8,94
0,XXXX-01404,1.75,84.075,55,90,88,85,100,79.1,90
23,XXXX-52380,2.00,81.350,95,88,0,90,100,84.2,92
17,XXXX-23332,2.00,80.075,55,88,75,85,100,69.1,90
24,XXXX-60910,2.25,75.425,55,75,85,83,100,52.5,90
2,XXXX-06706,2.25,74.350,55,75,88,88,100,55.0,80
14,XXXX-21128,2.50,72.550,55,90,50,93,100,55.0,80
28,XXXX-78356,2.50,70.300,50,70,0,88,100,65.0,93
5,XXXX-10236,2.75,66.400,55,55,55,55,100,46.6,91
7,XXXX-12034,3.00,64.375,90,85,0,0,100,52.5,95
13,XXXX-21123,3.00,64.100,60,50,40,50,100,51.4,85
29,XXXX-90339,5.00,58.450,40,20,10,10,100,70.8,91
30,XXXX-98340,5.00,53.425,95,93,0,88,100,63.3,0
12,XXXX-21122,5.00,39.200,0,0,0,0,100,25.8,91
22,XXXX-46106,5.00,38.625,60,45,0,0,100,72.5,0
25,XXXX-62543,5.00,37.750,50,88,0,0,100,55.8,0
21,XXXX-36198,5.00,32.275,50,50,0,0,100,49.1,0
26,XXXX-67839,5.00,28.550,0,0,0,0,100,74.2,0
18,XXXX-26390,5.00,27.300,75,0,0,0,100,39.2,0

In [5]:
df.to_csv('grades.csv', index=False)

In [6]:
text2 = """Student Number	 Adviser
199506583	Assoc. Prof. Karl Ezra S. Pilario, Ph.D.
200036198	Asst. Prof. Miguel Francisco M. Remolona, Ph.D.
200232448	Asst. Prof. Jaymar Soriano, D.Sc.
200364070	Prof. Prospero C. Naval, Jr., Ph.D.
200738537	Prof. Rhandley Cajote, Ph.D.
200926390	Prof. Prospero C. Naval, Jr., Ph.D.
201004328	Prof. Adrian Roy Valdez, Ph.D.
201114811	Asst. Prof. Paul Rossener Regonia, D.Sc.
201162543	Prof. Prospero C. Naval, Jr., Ph.D.
201178356	Asst. Prof. Miguel Francisco M. Remolona, Ph.D.
201252380	Assoc. Prof. Karl Ezra S. Pilario, Ph.D.
201306706	Asst. Prof. Jaymar Soriano, D.Sc.
201337829	Assoc. Prof. Karl Ezra S. Pilario, Ph.D.
201367839	Prof. Adrian Roy Valdez, Ph.D.
201398340	Prof. Eugene Rex L. Jalao, Ph.D.
201405189	Prof. Manuel Ramos Jr., Ph.D.
201419855	Prof. Rowel O. Atienza, Ph.D.
201428026	Prof. Rhandley Cajote, Ph.D.
201431618	Asst. Prof. Jaymar Soriano, D.Sc.
201460910	Prof. Rhandley Cajote, Ph.D.
201474467	Prof. Adrian Roy Valdez, Ph.D.
201509114	Prof. Rowel O. Atienza, Ph.D.
201510236	Asst. Prof. Miguel Francisco M. Remolona, Ph.D.
201512034	Prof. Rowel O. Atienza, Ph.D.
201801404	Prof. Rowel O. Atienza, Ph.D.
201802814	Asst. Prof. Paul Rossener Regonia, D.Sc.
201804638	Asst. Prof. Paul Rossener Regonia, D.Sc.
201808654	Prof. Anastacia B. Alvarez, Ph.D.
201810667	Prof. Eugene Rex L. Jalao, Ph.D.
202320754	Prof. Rhandley Cajote, Ph.D.
202320911	Prof. Eugene Rex L. Jalao, Ph.D.
202320913	Assoc. Prof. Marc Rosales, Ph.D.
202321036	Asst. Prof. Miguel Francisco M. Remolona, Ph.D.
202321122	Prof. Prospero C. Naval, Jr., Ph.D.
202321123	Prof. Anastacia B. Alvarez, Ph.D.
202321128	Prof. Eugene Rex L. Jalao, Ph.D.
202321426	Asst. Prof. Miguel Francisco M. Remolona, Ph.D.
"""

In [7]:
row2 = text2.split('\n')
row2

data2 = []

for row in row2:
    data2.append(row.split('\t'))

data2 = data2[1:-1]

df2 = pd.DataFrame(data2, columns=['Student Number', 'Adviser'])
df2.sort_values(by=['Adviser'])

   Student Number                                          Adviser
0       199506583         Assoc. Prof. Karl Ezra S. Pilario, Ph.D.
12      201337829         Assoc. Prof. Karl Ezra S. Pilario, Ph.D.
10      201252380         Assoc. Prof. Karl Ezra S. Pilario, Ph.D.
31      202320913                 Assoc. Prof. Marc Rosales, Ph.D.
11      201306706                Asst. Prof. Jaymar Soriano, D.Sc.
18      201431618                Asst. Prof. Jaymar Soriano, D.Sc.
2       200232448                Asst. Prof. Jaymar Soriano, D.Sc.
36      202321426  Asst. Prof. Miguel Francisco M. Remolona, Ph.D.
32      202321036  Asst. Prof. Miguel Francisco M. Remolona, Ph.D.
9       201178356  Asst. Prof. Miguel Francisco M. Remolona, Ph.D.
1       200036198  Asst. Prof. Miguel Francisco M. Remolona, Ph.D.
22      201510236  Asst. Prof. Miguel Francisco M. Remolona, Ph.D.
7       201114811         Asst. Prof. Paul Rossener Regonia, D.Sc.
26      201804638         Asst. Prof. Paul Rossener Regonia, D.Sc.
25      201802814         Asst. Prof. Paul Rossener Regonia, D.Sc.
20      201474467                   Prof. Adrian Roy Valdez, Ph.D.
6       201004328                   Prof. Adrian Roy Valdez, Ph.D.
13      201367839                   Prof. Adrian Roy Valdez, Ph.D.
34      202321123                Prof. Anastacia B. Alvarez, Ph.D.
27      201808654                Prof. Anastacia B. Alvarez, Ph.D.
35      202321128                 Prof. Eugene Rex L. Jalao, Ph.D.
14      201398340                 Prof. Eugene Rex L. Jalao, Ph.D.
28      201810667                 Prof. Eugene Rex L. Jalao, Ph.D.
30      202320911                 Prof. Eugene Rex L. Jalao, Ph.D.
15      201405189                    Prof. Manuel Ramos Jr., Ph.D.
3       200364070              Prof. Prospero C. Naval, Jr., Ph.D.
5       200926390              Prof. Prospero C. Naval, Jr., Ph.D.
33      202321122              Prof. Prospero C. Naval, Jr., Ph.D.
8       201162543              Prof. Prospero C. Naval, Jr., Ph.D.
4       200738537                     Prof. Rhandley Cajote, Ph.D.
17      201428026                     Prof. Rhandley Cajote, Ph.D.
19      201460910                     Prof. Rhandley Cajote, Ph.D.
29      202320754                     Prof. Rhandley Cajote, Ph.D.
16      201419855                    Prof. Rowel O. Atienza, Ph.D.
24      201801404                    Prof. Rowel O. Atienza, Ph.D.
23      201512034                    Prof. Rowel O. Atienza, Ph.D.
21      201509114                    Prof. Rowel O. Atienza, Ph.D.